.Rproj.user
.Rhistory
.RData
.Ruserdata
AMPtk_OTUtable_generation/logs
AMPtk_OTUtable_generation/logs/*
AMPtk_OTUtable_generation/results
AMPtk_OTUtable_generation/results/*
AMPtk_OTUtable_generation/stats
AMPtk_OTUtable_generation/stats/*
